---
layout: default
title: 分类
---
<h3>分类：</h3>

<div ms-controller="pages">

  <hr>

  <ul>

    <li ms-repeat-el='items'>
      <a ms-href="{?el.url?}">{?el.title?}</a>
      <span>{?el.date?}</span>
    </li>

  </ul>
</div>
<script src="/src/lib/avalon.min.js"></script>
<script>
avalon.config({debug:false,interpolate:['{?', '?}']})

require(["domReady!", "mmState"], function() {

  function GetQueryString(name){
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if(r!=null)return  unescape(r[2]); return null;
  }

  var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }'
  var data = JSON.parse(dataStr);
  var curTag = GetQueryString("cat");
  var archieves = data[curTag];

  var pages = avalon.define({
    $id:'pages',
    items: archieves,
  })
  avalon.history.start({
      basepath: "/avalon"
  })
  avalon.scan()
});

</script>
