---
layout: default
title: 我的Blog
---


  <div class="starter-template">

    <h3>最新文章</h3>
    <ul>
    {% for post in site.posts %}
    <li>{{ post.date | date:"%d/%m/%Y"}} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

    <hr>
    {% for category in site.categories %}
    <h5 class="text-left"><a href="/category.html?cat={{ category[0] }}">{{ category | first }}</a> <small>{{ category | last | size }}</small></h5>
    
    <ul class="arc-list">
        {% for post in category.last %}
            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

    {% for tag in site.tags %}
    <a href="/tags.html?tag={{ tag[0] }}"> {{ tag[0] }}</a>
    {% endfor %}
  </div>

