---
layout: index
title: 标签
---
<div class="index">
<h3>标签：</h3>

<div ms-controller="pages">

  <hr>

  <div id="tags" class="tags">
    {% for tag in site.tags %}
    <a href="/tags.html?tag={{ tag[0] }}"> {{ tag[0] }}</a>
    {% endfor %}
  </div>

  <ul>

    <li ms-repeat-el='items'>
      <a ms-href="{?el.url?}">{?el.title?}</a>
      <span>{?el.date?}</span>
    </li>

  </ul>
</div>
</div>
<script src="/src/lib/avalon.min.js"></script>
<script>
avalon.config({debug:false,interpolate:['{?', '?}']})

require(["domReady!", "mmState"], function() {

  function GetQueryString(name){
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if(r!=null)return  unescape(r[2]); return null;
  }

  var dataStr = '{ {% for tag in site.tags %}{% if tag[0] != site.tags.first[0] %},{% endif %}"{{ tag[0] }}":[{% for post in tag[1] %}{% if post != tag[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }'
  var data = JSON.parse(dataStr);
  var curTag = GetQueryString("tag");
  var archieves = data[curTag];

  var pages = avalon.define({
    $id:'pages',
    items: archieves,
  })
  avalon.history.start({
      basepath: "/avalon"
  })
  avalon.scan()
});

</script>
